<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag "client", media: 'screen' %>
  <%= javascript_include_tag  "client" %>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <style type="text/css">
    input {
      height: 35px;
      display: block;
      width: 100%;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
